<section>
  <img src="/assets/hero1.png"></img> <!--video src="/assets/hero.mp4" autoplay loop-->
  <div class="logo"><img src="/assets/hero-logo.png"></div>
</section>


<style>

  section {
    height:100vh;
    background-color: black;
  }

  video {

  }
  
  .logo {
    position:relative;
    top: -2400px; /*-450*/
    text-align: center;
  }

  .logo img {
    filter:drop-shadow(100) ;
    filte
    width:600px;
  }
</style>