---
import MenuItemContainer from '../components/MenuItemContainerView.astro';
import MenuItemView from '../components/MenuItemView.astro';
import menuItems from '../data/menuItemsData';


export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<MenuItemContainer>
			{
				menuItems.map((item) => <MenuItemView {...item}/>)
			}
		</MenuItemContainer>
      <div class="container">
        <div class="logo"><img src="/assets/hero-logo-faq.png"></div>
        <slot />
      </div>

	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #9b881c;
		background-size: 224px;
	}

	body {
		margin:0;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

  .container {
    margin-top:100px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: black;
  }

  .logo {
    text-align: center;
    position: 
    top: -100px;
    margin-bottom: 50px;

    img {
      transform: scale(0.9);
    }
  }

</style>
